<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.BugListDao">
    <select id="selectBugList" parameterType="org.meiconjun.erp4m.bean.BugBean" resultType="java.util.HashMap">
        select * from bug_list_main_tb
        where 1 = 1
        <if test="serial_no != null and serial_no != ''">
            and serial_no like concat('%', #{serial_no}, '%')
        </if>
        <if test="bug_name != null and bug_name != ''">
            and bug_name like concat('%', #{bug_name}, '%')
        </if>
        <if test="product != null and product != ''">
            and product like concat('%', #{product}, '%')
        </if>
        <if test="bug_status != null and bug_status != ''">
            and bug_status = #{bug_status}
        </if>
        order by last_modi_time desc
    </select>

    <insert id="insertBugList" parameterType="org.meiconjun.erp4m.bean.BugBean">
        insert into bug_list_main_tb
        (serial_no, bug_name, product, content, priority, severity, bug_status, solve_user, solve_desc, create_user, last_modi_time)
        values (#{serial_no}, #{bug_name}, #{product}, #{content}, #{priority}, #{severity}, #{bug_status}, #{solve_user}, #{solve_desc},
        #{create_user}, #{last_modi_time})
    </insert>

    <select id="selectUserInfoByNo" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from sys_user_tb where user_no = #{user_no}
    </select>

    <select id="selectBugComments" parameterType="java.lang.String" resultType="java.util.HashMap">
        select a.*, b.user_name, b.picture  from bug_list_reply_tb a, sys_user_tb b
        where 1 = 1 and a.reply_user = b.user_no
        <if test="serial_no != null and serial_no != ''">
            and a.bug_serial = #{serial_no}
        </if>
        <if test="floor != null and floor != ''">
            and a.floor = #{floor}
        </if>
        and (about_serial is null or about_serial = '')
        order by a.floor + 0 /* 转为数字再排列*/
    </select>

    <insert id="insertNewComment" parameterType="java.util.HashMap">
        insert into bug_list_reply_tb
        (serial_no, bug_serial, floor, content, reply_user, reply_time, about_serial, about_user)
        values (#{serial_no}, #{bug_serial},
        <choose>
            <when test="floor != null and floor != ''">
                #{floor},
            </when>
            <otherwise>
                (select case when (max(b.floor + 0) + 1) is null then '1' else (max(b.floor + 0) + 1) end  from bug_list_reply_tb b where b.bug_serial = #{bug_serial}), /** 查询当前帖子最大楼层号+1*/
            </otherwise>
        </choose>
        #{content}, #{reply_user}, #{reply_time}, #{about_serial}, #{about_user}
        )
    </insert>

    <select id="selectFloorComment" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from bug_list_reply_tb
        where about_serial = #{about_serial}
        order by reply_time desc
    </select>

    <update id="updateBugContent" parameterType="java.util.HashMap">
        update bug_list_main_tb
        set content = #{content}, last_modi_time = #{last_modi_time}
        where serial_no = #{serial_no}
    </update>
</mapper>