<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.CommonDao">
    <select id="selectBossAccount" resultType="org.meiconjun.erp4m.bean.User">
        select a.* from sys_user_tb a, sys_user_role_tb b, sys_role_tb c
        where a.user_no = b.user_no and b.role_no = c.role_no and c.position = '5' /*5-老板*/
    </select>

    <select id="selectFieldName" parameterType="java.lang.String" resultType="java.lang.String">
        select field_name from sys_field_tb
        where parent_field = #{parent_field} and field_value = #{field_value}
    </select>

    <select id="selectAllUserNoAndName" resultType="java.util.HashMap">
        select user_no, user_name from sys_user_tb
    </select>

    <select id="selectAllUserNo" resultType="java.lang.String">
        select user_no from sys_user_tb
    </select>
    
    <select id="selectUserRoleInfo" parameterType="java.lang.String" resultType="org.meiconjun.erp4m.bean.RoleBean">
        select r.* from sys_user_role_tb u, sys_role_tb r
        where u.user_no = #{user_no} and u.role_no = r.role_no
    </select>

    <select id="selectChildFieldList" parameterType="java.lang.String" resultType="org.meiconjun.erp4m.bean.FieldBean">
        select * from sys_field_tb
        where parent_field = #{parent_field}
    </select>

    <insert id="insertTaskInfo" parameterType="org.meiconjun.erp4m.bean.TaskBean">
        insert into sys_task_tb (task_no, task_type, create_user, create_time, receive_role, receive_user,
        deal_user, task_param, task_title, status, end_time, deal_type)
        values(#{task_no}, #{task_type}, #{create_user}, #{create_time}, #{receive_role}, #{receive_user}, #{deal_user}, #{task_param},
        #{task_title}, #{status}, #{end_time}, #{deal_type})
    </insert>
    
    <select id="selectTaskInfo" parameterType="java.lang.String" resultType="org.meiconjun.erp4m.bean.TaskBean">
        select * from sys_task_tb
        where task_no = #{task_no}
    </select>
    
    <update id="updateTaskInfo" parameterType="org.meiconjun.erp4m.bean.TaskBean">
        update sys_task_tb 
        <set>
            <if test="deal_user != null and deal_user != ''">
                deal_user = #{deal_user},
            </if>
            <if test="task_param != null and task_param != ''">
                task_param = #{task_param},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="end_time != null and end_time != ''">
                end_time = #{end_time},
            </if>
        </set>
        where task_no = #{task_no}
    </update>

    <select id="selectRoleList" parameterType="java.lang.String" resultType="java.util.HashMap">
        select role_no as value, role_name as name from sys_role_tb
        where 1 = 1
        <if test="position != null and position != ''">
            and position = #{position}
        </if>
        <if test="level != null and level != ''">
            and level = #{level}
        </if>
        <if test="department != null and department != ''">
            and department = #{department}
        </if>
    </select>

    <select id="selectAllUserAndRoleInfo" resultType="java.util.HashMap">
        select a.user_no, a.user_name, c.role_name, c.position, c.department from sys_user_tb a, sys_user_role_tb b, sys_role_tb c
        where a.user_no = b.user_no and b.role_no = c.role_no
    </select>

</mapper>