<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.CreateProjectDao">
    <select id="selectProjectByStage" resultType="java.util.HashMap">
        select doc_no as value, doc_name as name from pd_doc_defined_tb
        where stage = #{stage}
    </select>

    <select id="selectDocDepartment" resultType="java.lang.String" parameterType="java.lang.String">
        select department from pd_doc_defined_tb
        where doc_no = #{doc_no}
    </select>

    <select id="selectUserByDepartment" resultType="java.util.HashMap" parameterType="java.lang.String">
        select a.user_no as value, a.user_name as name from sys_user_tb a, sys_role_tb b, sys_user_role_tb c
        where a.user_no = c.user_no and b.role_no = c.role_no and b.department = #{department}
    </select>

    <insert id="insertNewProjectMain" parameterType="java.util.HashMap">
        insert into project_main_tb (project_no, project_name, chn_name, principal, specifications, begin_date,
        project_menbers, project_state, create_state)
        values(#{project_no}, #{project_name}, #{chn_name}, #{principal}, #{specifications}, #{begin_date},
        #{project_menbers}, #{project_state}, #{create_state})
    </insert>

    <insert id="insertNewProjectStage" parameterType="java.util.HashMap">
        insert into project_stage_tb (project_no, principal, stage_num, stage, begin_date, end_date, doc_serial, is_end)
        values(#{project_no}, #{principal}, #{stage_num}, #{stage}, #{begin_date}, #{end_date}, #{doc_serial}, #{is_end})
    </insert>

    <select id="selectProjectMain" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from project_main_tb
        where project_no = #{project_no}
    </select>

    <update id="updateProjectMain" parameterType="java.util.HashMap">
        update project_main_tb set
        <if test="countersign_y != '' and countersign_y != null">
            countersign_y = #{countersign_y},
        </if>
        <if test="countersign_n != '' and countersign_n != null">
            countersign_n = #{countersign_n},
        </if>
        <if test="stage_num != '' and stage_num != null">
            stage_num = #{stage_num},
        </if>
        create_state = #{create_state},
        project_state = #{project_state}, fail_reason = #{fail_reason}
        where project_no = #{project_no}
    </update>

    <select id="selectStageMin" parameterType="java.lang.String" resultType="java.util.HashMap">
        select min(stage_num), principal, stage, begin_date, end_date, doc_serial, is_end, unupload_doc
        from project_stage_tb
        where project_no = #{project_no} and is_end = '0'
    </select>

    <insert id="insertStageDocInfo" parameterType="java.util.HashMap">
        insert into project_stage_doc_tb (serial_no, doc_no, doc_name, doc_writer, doc_version, upload_date, file_path)
        values (#{serial_no}, #{doc_no}, #{doc_name}, #{doc_writer}, #{doc_version}, #{upload_date}, #{file_path})
    </insert>

    <select id="selectProjectDocName" parameterType="java.lang.String" resultType="java.lang.String">
        select doc_name from pd_doc_defined_tb
        where doc_no = #{doc_no}
    </select>
    
    <select id="selectStageDocInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from project_stage_doc_tb
        where serial_no = #{serial_no}
    </select>
</mapper>