<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.LoginDao">
    <select id="selectUser" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select * from sys_user_tb
        where user_no = #{user_no} and pass_word = #{pass_word}
    </select>

    <select id="selectRoleNo" parameterType="java.lang.String" resultType="java.lang.String">
        select role_no from sys_user_role_tb
        where user_no = #{user_no}
    </select>
</mapper>