<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.MessageDao">

    <select id="selectMessageInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from sys_message_tb
        where msg_no = #{msg_no}
    </select>

    <update id="updateReadUserAndStatus" parameterType="java.util.HashMap" >
        update sys_message_tb
        set read_user = #{read_user}, status = #{status}
        where msg_no = #{msg_no}
    </update>

    <insert id="insertNewMessage" parameterType="java.util.HashMap">
        insert into sys_message_tb (msg_no, msg_type, create_user, create_time, receive_role, receive_user,
        read_user, msg_param, msg_content, status, end_time, deal_type)
        values (#{msg_no}, #{msg_type}, #{create_user}, #{create_time}, #{receive_role}, #{receive_user},
        #{read_user}, #{msg_param}, #{msg_content}, #{status}, #{end_time}, #{deal_type})
    </insert>

    <select id="selectMessageStatus" parameterType="java.lang.String" resultType="java.lang.String">
        select status from sys_message_tb
        where msg_no = #{msg_no}
    </select>

    <select id="selectUnReadMsg" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from sys_message_tb
        where (concat(',', receive_user, ',') like concat('%,', #{user_no}, ',%') or concat(',', receive_role, ',') like concat('%,', #{role_no}, ',%'))
        and concat(',', read_user, ',') not like concat('%,', #{user_no}, ',%') and status = '0'
    </select>

    <select id="selectReadMsg" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from sys_message_tb
        where (concat(',', receive_user, ',') like concat('%,', #{user_no}, ',%') or concat(',', receive_role, ',') like concat('%,', #{role_no}, ',%'))
        and (concat(',', read_user, ',') like concat('%,', #{user_no}, ',%') or status = '1')
    </select>
</mapper>