<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.PersonalDocDao">
    <select id="selectPersonalDocInfo" parameterType="java.util.HashMap" resultType="org.meiconjun.erp4m.bean.DocBean">
        select a.*, b.review_state, b.review_user, b.review_detail, b.judge_user, b.judge_reason, b.judge_time
        , c.file_path from doc_personal_doc_tb a, doc_review_tb b, doc_version_tb c
        where a.doc_serial_no = b.doc_serial_no and a.doc_serial_no = c.doc_serial_no and a.doc_version = c.doc_version
        <if test="doc_no != '' and doc_no != null">
            and a.doc_no like concat('%', #{doc_no}, '%')
        </if>
        <if test="doc_name != '' and doc_name != null">
            and a.doc_name like concat('%', #{doc_name}, '%')
        </if>
        <if test="upload_user != '' and upload_user != null">
            and a.upload_user like concat('%', #{upload_user}, '%')
        </if>
        <if test="doc_type != '' and doc_type != null">
            and a.doc_type = #{doc_type}
        </if>
    </select>

    <insert id="insertPersonalDocInfo" parameterType="java.util.HashMap">
        insert into doc_personal_doc_tb (doc_serial_no, doc_no, doc_name, doc_language, doc_type, doc_writer, doc_desc, upload_user, upload_time,
        last_modi_time, doc_version, file_root_path)
        values(#{doc_serial_no}, #{docBean.doc_no}, #{docBean.doc_name}, #{docBean.doc_language}, #{docBean.doc_type}, #{docBean.doc_writer}, #{docBean.doc_desc}, #{upload_user},
        #{upload_time}, #{last_modi_time}, #{docBean.doc_version}, #{file_root_path})
    </insert>
    
    <insert id="insertDocReviewInfo" parameterType="java.util.HashMap">
        insert into doc_review_tb (doc_serial_no, review_state, review_user, review_detail, judge_user, judge_reason,
        judge_time)
        values (#{doc_serial_no}, '0', '', '', '', '', '')
    </insert>

    <insert id="insertDocVersionInfo" parameterType="java.util.HashMap">
        insert into doc_version_tb(doc_serial_no, doc_version, doc_writer, upload_user, upload_time, file_path)
        values(#{doc_serial_no}, docBean.doc_version, docBean.doc_writer, #{upload_user}, #{upload_time}, #{docBean.file_path})
    </insert>

    <update id="updatePersonalDocInfo" parameterType="java.util.HashMap">
        update doc_personal_doc_tb
        set doc_name = #{docBean.doc_name}, doc_language = #{docBean.doc_language}, doc_writer = #{doc_writer}, doc_desc = #{doc_desc},
        upload_user = #{upload_user}, upload_time = #{upload_time}, last_modi_time = #{last_modi_time}, doc_version = #{docBean.doc_version},
        file_root_path = #{file_root_path}
        where doc_serial_no = #{doc_serial_no}
    </update>
</mapper>