<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.ProjectManageDao">

    <select id="selectProjectInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select * from project_main_tb
        where 1 = 1
        <if test="project_name != null and project_name != ''">
            and project_name like concat('%', #{project_name}, '%')
        </if>
        <if test="chn_name != null and chn_name != ''">
            and chn_name like concat('%', #{chn_name}, '%')
        </if>
        <if test="principal != null and principal != ''">
            and principal like concat('%', #{principal}, '%')
        </if>
    </select>

    <select id="selectStageOfProject" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from project_stage_tb
        where project_no = #{project_no}
        order by stage_num asc
    </select>

    <select id="selectStageDocInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
        select c.*, d.department  from project_stage_tb b, project_stage_doc_tb c, pd_doc_defined_tb d
        where b.project_no = #{project_no} and b.doc_serial = c.serial_no and b.stage_num = #{stage_num}
        and c.file_path is not null and c.file_path != '' and c.doc_no = d.doc_no
        order by doc_version desc
    </select>

    <select id="selectStageDocLastVersion" parameterType="java.lang.String" resultType="java.lang.String">
        select max(c.doc_version) from project_stage_tb b, project_stage_doc_tb c
        where b.project_no = #{project_no} and b.doc_serial = c.serial_no and b.stage_num = #{stage_num}
        and c.file_path is not null and c.file_path != '' and b.is_end = '1'
    </select>

    <update id="updateStageDoc" parameterType="java.lang.String">
        update project_stage_doc_tb
        set upload_date = #{upload_date}, file_path = #{file_path}
        where serial_no = #{doc_serial} and doc_version = '1.0'
    </update>
    
    <insert id="insertStageDocInfo" parameterType="java.util.HashMap">
        insert into project_stage_doc_tb (serial_no, doc_no, doc_name, doc_writer, doc_version, upload_date, file_path)
        values (#{serial_no}, #{doc_no}, #{doc_name}, #{doc_writer}, #{doc_version}, #{upload_date}, #{file_path})

    </insert>
</mapper>