<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.ProjectManageDao">

    <select id="selectProjectInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select * from project_main_tb
        where 1 = 1
        <if test="project_no != null and project_no != ''">
            and project_no = #{project_no}
        </if>
        <if test="project_name != null and project_name != ''">
            and project_name like concat('%', #{project_name}, '%')
        </if>
        <if test="chn_name != null and chn_name != ''">
            and chn_name like concat('%', #{chn_name}, '%')
        </if>
        <if test="principal != null and principal != ''">
            and principal like concat('%', #{principal}, '%')
        </if>
    </select>

    <select id="selectStageOfProject" parameterType="java.lang.String" resultType="java.util.HashMap">
        select a.*from project_stage_tb a
        where a.project_no = #{project_no}
        order by a.stage_num asc
    </select>

    <select id="selectStageDocInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
        select c.*, d.department, d.duty_role  from project_stage_tb b, project_stage_doc_tb c, pd_doc_defined_tb d
        where b.project_no = #{project_no} and b.doc_serial = c.serial_no and b.stage_num = #{stage_num}
        and  c.doc_no = d.doc_no
        order by c.doc_version desc
    </select>

    <select id="selectStageDocLastVersion" parameterType="java.lang.String" resultType="java.lang.String">
        select max(c.doc_version) from project_stage_tb b, project_stage_doc_tb c
        where b.project_no = #{project_no} and b.doc_serial = c.serial_no and b.stage_num = #{stage_num}
        and b.is_end = '1' and c.doc_no = #{doc_no}
    </select>

    <update id="updateStageDoc" parameterType="java.lang.String">
        update project_stage_doc_tb
        set upload_date = #{upload_date}, file_path = #{file_path}, upload_user = #{upload_user}
        where serial_no = #{doc_serial} and doc_version = '1.0' and doc_no = #{doc_no}
    </update>
    
    <insert id="insertStageDocInfo" parameterType="java.util.HashMap">
        insert into project_stage_doc_tb (serial_no, doc_no, doc_name, doc_version, upload_date, file_path, upload_user)
        values (#{serial_no}, #{doc_no}, #{doc_name}, #{doc_version}, #{upload_date}, #{file_path}. #{upload_user})
    </insert>
    
    <select id="selectStageInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from project_stage_tb
        where project_no = #{project_no} and stage_num = #{stage_num}
    </select>

    <update id="updateStageInfo" parameterType="java.util.HashMap">
        update project_stage_tb
        <set>
            <if test="begin_date != null and begin_date != ''">
                begin_date = #{begin_date},
            </if>
            <if test="end_date != null and end_date != ''">
                end_date = #{end_date},
            </if>
            <if test="is_end != null and is_end != ''">
                end_date = #{end_date},
            </if>
            <if test="unupload_doc != null and unupload_doc != ''">
                unupload_doc = #{unupload_doc},
            </if>

        </set>
        where project_no = #{project_no} and stage_num = #{stage_num}
    </update>

    <update id="updateProjectMainInfo" parameterType="java.util.HashMap">
        update project_main_tb
        <set>
            <if test="principal != null and principal != ''">
                principal = #{principal},
            </if>
            <if test="specifications != null and specifications != ''">
                specifications = #{specifications},
            </if>
            <if test="begin_date != null and begin_date != ''">
                begin_date = #{begin_date},
            </if>
            <if test="project_state != null and project_state != ''">
                project_state = #{project_state},
            </if>
            <if test="create_state != null and create_state != ''">
                create_state = #{create_state},
            </if>
            <if test="fail_reason != null and fail_reason != ''">
                fail_reason = #{fail_reason},
            </if>
            <if test="stage_num != null and stage_num != ''">
                stage_num = #{stage_num},
            </if>
            <if test="end_date != null and end_date != ''">
                end_date = #{end_date},
            </if>
            <if test="file_root_path != null and file_root_path != ''">
                file_root_path = #{file_root_path},
            </if>
        </set>
        where project_no = #{project_no}
    </update>
    
    <select id="selectMaxStageNumOfProject" parameterType="java.lang.String" resultType="java.lang.String">
        select max(stage_num) from project_stage_tb
        where project_no = #{project_no}
    </select>

    <select id="selectStagePrincipalManager" parameterType="java.lang.String" resultType="java.lang.String">
        select a.user_no from sys_user_role_tb a, sys_role_tb b
        where  a.role_no = b.role_no and b.department = (select d.department from sys_user_role_tb c, sys_role_tb d
        where c.role_no = d.role_no and c.user_no = #{principal}) and b.position = '2'
    </select>

    <select id="selectProjectCurStage" resultType="java.util.HashMap">
        select a.project_name, b.*, c.* from project_main_tb a, project_stage_tb b, project_stage_doc_tb c
        where a.project_no = b.project_no and a.stage_num = b.stage_num and b.doc_serial = c.serial_no
        and c.doc_version = '1.0' and b.is_end != '1'
    </select>

    <select id="selectCountOfStageDoc" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(0) from project_stage_doc_tb
        where serial_no = #{doc_serial} and doc_no = #{doc_no}
    </select>

    <select id="selectStageDocUnion" parameterType="java.lang.String" resultType="java.util.HashMap">
        select '' as serial_no, b.doc_no, b.doc_name, b.writer, b.department, b.duty_role, a.role_name from sys_role_tb a, pd_doc_defined_tb b
        where b.doc_no in (${unupload_doc}) and b.duty_role = a.role_no
        union
        select b.serial_no, b.doc_no, b.doc_name, c.writer, c.department, c.duty_role, d.role_name from project_stage_tb a, project_stage_doc_tb b, pd_doc_defined_tb c, sys_role_tb d
        where a.project_no = #{project_no} and a.stage_num = #{stage_num} and a.doc_serial = b.serial_no and
        b.doc_no = c.doc_no and b.doc_version = '1.0' and c.duty_role = d.role_no
    </select>

    <select id="selectClerkList" resultType="java.lang.String">
        select a.user_no from sys_user_tb a, sys_user_role_tb b, sys_role_tb c
        where a.user_no = b.user_no and b.role_no = c.role_no and c.position = '4'/*职位 4-文员*/
    </select>
</mapper>