<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.RADWarehouseDao">
    <select id="selectRADWarehouseInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select * from materials_flow_tb
        where 1 = 1
        <if test="serial_no != '' and serial_no != null">
            and serial_no like concat('%', #{serial_no}, '%')
        </if>
        <if test="material_no != '' and material_no != null">
            and material_no like concat('%', #{material_no}, '%')
        </if>
        <if test="oper_type != '' and oper_type != null">
            and oper_type = #{oper_type}
        </if>
        <if test="date_begin != '' and date_begin != null">
            and last_modi_time &gt;= #{date_begin}
        </if>
        <if test="date_end != '' and date_end != null">
            and last_modi_time &lt;= #{date_end}
        </if>
    </select>

    <insert id="insertRADWarehousrInfo" parameterType="org.meiconjun.erp4m.bean.RADWarehouseBean">
        insert into materials_flow_tb(serial_no, material_no, material_name, desc, project_no, number, supplier, supplier_type,
        proxy, oper_type, last_modi_user, last_modi_time)
        values (#{serial_no}, #{material_no}, #{material_name}, #{desc}, #{project_no}, #{number}, #{supplier}, #{supplier_type},
        #{proxy}, #{oper_type}, #{last_modi_user}, #{last_modi_time})
    </insert>
</mapper>