<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.meiconjun.erp4m.dao.UserConfigDao">
    <select id="selectUsers" resultType="java.util.HashMap">
        select a.*, b.role_no from sys_user_tb a, sys_user_role_tb b
        where 1 = 1 and a.user_no = b.user_no
        <if test="bean.user_no != null and bean.user_no != ''">
            and a.user_no like concat('%', #{bean.user_no}, '%')
        </if>
        <if test="bean.user_name != null and bean.user_name != ''">
            and a.user_name like concat('%', #{bean.user_name}, '%')
        </if>
        <if test="role_no != null and role_no != ''">
            and b.role_no = #{role_no}
        </if>
    </select>

    <select id="selectRoles" resultType="java.util.HashMap">
        select role_no as value, role_name as name from sys_role_tb
    </select>

    <insert id="insertUser" parameterType="java.util.HashMap">
        insert into sys_user_tb (user_no, user_name, pass_word, picture, email, phone, last_modi_time, auth_user, status)
        values(#{bean.user_no}, #{bean.user_name}, #{bean.pass_word}, #{bean.picture}, #{bean.email}, #{bean.phone},
        #{bean.last_modi_time}, #{bean.auth_user}, #{bean.status})
    </insert>

    <insert id="inserUserRole" parameterType="java.util.HashMap">
        insert into sys_user_role_tb (user_no, role_no, last_modi_time)
        values(#{bean.user_no}, #{role_no}, #{bean.last_modi_time})
    </insert>

    <update id="updateUser" parameterType="org.meiconjun.erp4m.bean.User">
        update sys_user_tb
        set user_name = #{user_name}, picture = #{picture},
        email = #{email}, phone = #{phone}, last_modi_time = #{last_modi_time},
        status = #{status}
        <if test="pass_word != null and pass_word != ''">
            , pass_word = #{pass_word}
        </if>
        where user_no = #{user_no}
    </update>
    <delete id="deleteUserRoleOld" parameterType="java.lang.String">
        delete from sys_user_role_tb
        where user_no = #{user_no}
    </delete>

    <delete id="deleteUser" parameterType="java.lang.String">
        delete from sys_user_tb
        where user_no = #{user_no}
    </delete>

    <delete id="deleteUserRight" parameterType="java.lang.String">
        delete from sys_user_right_tb
        where user_no = #{user_no}
    </delete>

    <update id="updateUserStatus" parameterType="org.meiconjun.erp4m.bean.User">
        update sys_user_tb
        set status = #{status}
        where user_no = #{user_no}
    </update>

    <select id="selectUsersByRole" parameterType="java.lang.String" resultType="java.lang.String">
        select user_no from sys_user_role_tb
        where role_no = #{role_no}
    </select>
</mapper>